---
layout: default
---
<header>
  <h1>{{ site.title }}</h1>
  {%-if site.theme_config.show_description-%}
    <p>{{ site.description }}</p>
  {%-endif-%}
</header>

<div style="position:relative;height:290px;">
  <input type="button" id="ascii-toggle" class="link-button" value="pause">
  <div id="ascii-container"></div>
</div>

<p style="text-align: center;">
  I'm building embedded software at <i>Nexthop</i> ┖[◧ ▾ ◧ ]┒
</p>
<br>

{%-include menu_item.html collection=site.data.menu.entries-%}

{{ content }}
